<?php
require_once('templates/layout/header.html.html');

// Restrict set of courses, ITIS
if (isset($_GET['mine']) && isset($_SESSION['user']->id))
    $mentor_id = $_SESSION['user']->id;
if (isset($_GET['mentor_id']) && (int)$_GET['mentor_id'])
    $mentor_id = (int)$_GET['mentor_id'];
if (isset($mentor_id)) {
    // Get mentor's name
    $mentor_name = '';
    foreach ($users as $user)
        if ($user->id == $mentor_id)
            $mentor_name = $user->display_name;

    $_courses = (object)array('all' => array(), 'types' => (object)array('professional_skills' => array(), 'professional_plan' => array(), 'featured' => array()));
    foreach ($courses->all as $course)
        if ($course->mentor_id == $mentor_id)
            $_courses->all[] = $course;
    foreach ($courses->types as $type=>$_throwAway)
        foreach ($courses->types->{$type} as $course)
            if ($course->mentor_id == $mentor_id)
                $_courses->types->{$type}[] = $course;
    $courses = $_courses;
}
?>
</head>
<body class="courses">
	<div data-role="page" data-enhance="false">
		<div data-role="header" id="headerDiv" data-enhance="false"></div>
        <div data-role="content" class="mainContent">
            <h1 class="i18n"><?php echo (isset($mentor_id) ? _('Courses by'). ' ' .$mentor_name : _('All courses')); ?></h1>

            <div class="featureBlock all-courses">
                <h2><span class="i18n"><?php echo _('By type'); ?></span><a href="upload.html" class="featureLink i18n" data-ajax="false"><?php echo _('Upload a course'); ?></a></h2>
                <p class="description i18n"><?php echo _('Comprehensive career courses'); ?></p>
<?php
if (!(count($courses->all) - count($courses->types->featured))) {
?>
                <p class="i18n"><?php echo _('No courses found.'); ?></p>
<?php
}else{
    foreach (array('professional_skills', 'professional_plan') as $type) {
        if (count($courses->types->{$type})) {
?>
                <div class="course-type">
                    <h3><span class="i18n"><?php echo $course_types->{$type}; ?></span><a href="/courses.html" class="featureLink i18n" data-ajax="false"><?php echo _('More'); ?></a></h3>
                    <ul>
<?php
            foreach ($courses->types->{$type} as $i=>$course) {
                $course->mentor_display_name = '';
                foreach ($mentors as $mentor)
                    if ($mentor->id == $course->mentor_id)
                        $course->mentor_display_name = $mentor->display_name;

                include 'prototype-shared/course-tile.html';
            }
?>
                    </ul>
                    <div style="clear: both;"></div>
                </div>
<?php
        }
    }
?>
                <div style="clear: both;"></div>
<?php
}
?>
            </div><!-- /popular-courses -->
<?php
if (count($courses->types->featured)) {
?>
            <div class="featureBlock featured-courses">
                <h2><span class="i18n"><?php echo _('Famous enterprise courses'); ?></span></h2>
                <p class="i18n"><?php echo _('More opportunities for carerer advancement'); ?></p>
                <ul>
<?php
    foreach ($courses->types->featured as $i=>$course) {
?>
                        <li><a href="">
                            <span class="pic"><img src="<?php echo $course->video_pic; ?>" alt=""></span>
                            <span class="name"><?php echo $course->name; ?></span>
                        </a></li>
<?php
    }
?>
                </ul>
            </div><!-- /featured-courses -->
<?php
}
?>
        </div><!-- /mainContent -->
		<div data-role="footer" id="footerDiv" data-enhance="false"></div>
	</div><!-- /page -->

    <script>	
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "fade",
                directionNav: false
            });
        });
    </script>
<?php
require_once('templates/layout/footer.html.html');
?>