<?php
require_once('templates/layout/header.html.html');

$course = false;
if (isset($_GET['id']) && (int)$_GET['id'])
    foreach ($courses->all as $_course)
        if ($_course->id == (int)$_GET['id'])
            $course = $_course;
?>
</head>
<body class="course">
	<div data-role="page" data-enhance="false">
		<div data-role="header" id="headerDiv" data-enhance="false"></div>
        <div data-role="content" class="mainContent">
<?php
if (!$course) {
?>
            <p class="i18n"><?php echo _('The video you requested could not be found.'); ?></p>
<?php
}else{
?>
            <h1><?php echo $course->name; ?></h1>
            <div style="margin-top: 20px;">
                <video id="video" class="video" style="width: 100%;" autobuffer controls="false" poster="<?php echo $course->video_pic; ?>">
                    <source src="<?php echo $course->video_uri; ?>" type="video/mp4">
                </video>
            </div>
            <div id="video-stats" style="display: none;">
                Ready? <span class="is-ready"></span><br />
                Duration: <span class="duration"></span><br />
                CurrentTime: <span class="currentTime"></span><br />
                Set time to: <input type="number" class="setTime" value="" style="width: 50px;" />
            </div>
<?php
}
?>
        </div><!-- /mainContent -->
		<div data-role="footer" id="footerDiv" data-enhance="false"></div>
	</div><!-- /page -->

    <script>
        var seek_to = null;

        function updateStats(video)
        {
            var videoId = $(video).attr('id');

            $('#'+videoId+'-stats .is-ready').html('No');
            var ready = false;
            if (typeof video.readyState != 'undefined')
                if (video.readyState > 0)
                    ready = true;

            if (!ready)
                return;

            $('#'+videoId+'-stats .is-ready').html('Yes');

            var duration = video.duration;
            duration = (typeof duration == 'undefined' ? 'undefined' : duration);
            if (duration > 0)
                $('#'+videoId+'-stats .duration').html(duration);

            var currentTime = video.currentTime;
            currentTime = (typeof currentTime == 'undefined' ? 'undefined' : currentTime);
            if (currentTime > 0)
                $('#'+videoId+'-stats .currentTime').html(currentTime);
        }
        function initVideo(videoId)
        {
            var video = $('#'+videoId);

            // Click handlers for setTime buttons
            $('#'+videoId+'-stats .setTime').change(function()
            {
                setTime = parseInt($(this).val());
                if (setTime > 0)
                    seek_to = setTime;
                else
                    alert('Please enter a valid integer.');
            });

            // Start stats listener
            video.bind('canplay', function() { updateStats(this); });
            video.bind('play', function()
            {
                if (navigator.userAgent.match(/(iPad|iPhone|iPod)/) !== null)
                {
                    video.one("canplaythrough",function() {
                        video.one("progress",function() { 
                            if (seek_to !== null)
                            {
                                video[0].currentTime = seek_to;
                                seek_to = null;
                            }
                        });
                    });
                }else{
                    if (seek_to !== null)
                    {
                        this.currentTime = seek_to;
                        seek_to = null;
                    }
                }
                
                updateStats(this);
                
            });
//                video.bind('webkitbeginfullscreen', function() { updateStats(this); });
            video.bind('timeupdate', function() { updateStats(this); });
//                video.bind('webkitendfullscreen', function() { updateStats(this); });
//                video.bind('ended', function() { updateStats(this); });

//                video.bind('pause', function() { updateStats(this); });
//                video.bind('progress', function() { updateStats(this); });
        }
        $(document).ready(function() {
            initVideo('video');
        });
    </script>    
<?php
require_once('templates/layout/footer.html.html');
?>